@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --grey: #75747c;
    --orange: #e07843;
    --forn: #8f736f;
    --yellow: #f8dfc5;
    --white: #ffffff;
    --black: #000000af;
    --light-grey: #50576761;
}

body {
    margin: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.pop-up {
    background-color: var(--black);
    width: 47%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 6px;
    display: none;
    
}

.main-container {
    height: 380px;
    width: 776px;
    background-image: linear-gradient(to bottom right, #e07843, #75747c);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sky-container {
    height: 75%;
    width: 75%;
    background-image: url(./images/sky.jpg);
    background-size: cover;
    border-radius: 6px;
    position: relative;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon img {
    width: 20%;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: transparent;
    color: var(--white);
    border-radius: 10px;
    border-color: var(--orange);
}

.small-icons {
    display: flex;
    justify-content: center;
    gap: 1em;
    position: absolute;
    bottom: 0;
    right: 15%;
    align-items: center;
    color: var(--white);
}

.margin-0 {
    margin: 0;
}

.closeBtn {
    display: flex;
    justify-content: end;
    margin: 10px;
    color: var(--white);
}

.closeBtn:hover {
    font-size: 20px;
    cursor: pointer;
    color: var(--orange);
}

div.search {
    margin: 7px;
}

input {
    padding: 4px;
    background-color: transparent;
    border-color: var(--white);
    border-radius: 6px;
    color: var(--orange);
}

.search button {
    padding: 4px;
    background-color: transparent;
    border-radius: 3px;
    color: var(--white);
    border-color: var(--orange);
}

.recent {
    text-decoration: underline;
    color: var(--white);
    padding: 10px;
    margin: 0;
}

p {
    margin: 0;
}

p.description {
    font-size: larger;
}

.search-history {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.history {
    width: 94%;
    border: none;
    background-color: var(--light-grey);
}

.locate {
    margin: 0;
}